.sample {
    font-family: Segoe UI, sans-serif;
    font-size: 10pt;
	border: 1px solid #dfeaf7;
	height: 200px;
	width: 800px;
}

.drag {
	border: 1px solid #999999;
	height: 60px;
	width: 200px;
	position: relative;
	left: 20px;
	top: 20px;
	padding: 10px;
}

.status {
	padding-top: 20px;
}